body
{
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: rgb(17, 17, 17);
    font-size: 3em;
    text-align: center;
}

p {
    color: rgb(92, 92, 92);
    font-size: 1em;
    text-align: center;
}

img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}